<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QRCode Generator</title>
</head>
<body>
    <header>
        <h1>QRCode Generator</h1>
        <a href="https://github.com/jaedsonpys">@jaedsonpys</a>
    </header>
    <main>
        <h2>Enter the text/link to QRCode</h2>
        <form action="/make" enctype="application/x-www-form-urlencoded">
            <input type="text" class="text" placeholder="URL/Text">
            <button type="submit">Generate</button>
        </form>
    </main>
</body>
</html>